<nav class="navbar">
  <div class="logo">
    <a href="/">
      <img src="https://placehold.co/300x80/jpg" alt="Site Logo" />
    </a>
  </div>

  <ul class="nav-links">
    <li><a href="/products">Products</a></li>
    <li><a href="/products/add">Add Product</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/src/views/login">Login</a></li>
  </ul>
</nav>
