<%- include('nav') %>

<!-- <ul class="nav-links">
    <li><a href="/products">Products</a></li>
    <li><a href="/products/add">Add Product</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/login">Login</a></li>
  </ul> -->
